@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@600&display=swap');


.howItWorks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(cyan, white);
    word-wrap: break-word;
    width: 100%;
    margin-top: -40px;
    height: 570px !important;
    font-family: 'Poppins', sans-serif;
}
.howItWorks__contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.howItWorks__content{
    display: flex;
    height: 350px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 400px;
    font-family: 'Poppins', sans-serif;
}
.howItWorks__icons{
    font-size: 70px!important;
}
.howItWorks__heading{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.howItWorks__button{
    border: 3px solid black;
    height: 3rem;
    width: 250px;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.5s;
}
.howItWorks__button:hover{
    color: #62962E;
    border: 3px solid #62962E;
}
.howItWorks__buyHeading{
    font-size: 0.9rem;
    text-align: center;
    padding-top: 20px;
}
.buyingSection{
    height: 500px;
    background: linear-gradient(cyan,rgb(0, 173, 173));
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
}
.buying__img{
    height: auto;
    width: auto;
    margin: auto;
}
.whyTrisquare{
    height: 650px;
    background: linear-gradient(rgb(2, 133, 255), rgb(26, 0, 170));
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.howItWorks__whyMainHeading{
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.whyTrisquare > h4{
    color: white;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: 'Poppins', sans-serif;
}
.whyTrisquare > h5{
    font-size: 0.85rem;
    margin-top: -5px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}
.socialMission{
    height: 650px;
    background: white;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.socialMission__heading > h1{
    font-size: 1.5rem;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.socialMission > h5{
    font-size: 0.9rem;
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.socialMission > h5{
    font-size: 0.9rem;
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.buying__logo{
    height: 100px;
    width: 100px;
    object-fit: contain;    
}
.whyTrisquareSell{
    height: 400px;
    background: linear-gradient(rgb(2, 133, 255), rgb(26, 0, 170));
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.whyTrisquareSell > h4{
    color: white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
.whyTrisquareSell > h5{
    font-size: 1rem;
    
}
@media only screen and (max-width: 600px){
    .howItWorks{
        overflow-x: hidden;
        margin-top: 0rem;
    }
    .howItWorks__heading{
        font-size: 1.3rem;
    }
    .howItWorks__button{
        border: 3px solid black;
        height: 2rem;
        width: 150px;
        font-size: 1rem;
    }
    
    .howItWorks__content{
        height: auto;
        font-size: 0.8rem;
        width: 200px;
        padding: 25px 5px ;
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
    }
    .howItWorks__icons{
        font-size: 35px!important;
    }
    .howItWorks__contents{
        display: flex;
        flex-direction: column;
    }
    .howItWorks__buyHeading{
        font-size: 0.5rem;
        
    }
    .headingly2{
        margin-top: -100px;
    }
    .headingly1{
        margin-bottom: -100px;
    }
    .buyingSection{
        height: 300px;
        padding: 15px;
    }
    .buying__img{
        height: 250px;
        width: 250px;
        object-fit: contain;
        margin: auto;
    }
    .whyTrisquare{
        height: 575px;
        padding: 15px;
    }
    .howItWorks__whyMainHeading{
        color: white;
        font-size: 1rem;
        padding-bottom: 10px;
    }
    .whyTrisquare > h4{
        color: white;
        font-size: 0.55rem;
        line-height: 1rem;
        margin-top: 5px;
        margin-bottom: -5px;
    }
    .whyTrisquare > h5{
        font-size: 0.7rem;
        margin-top: -5px;
        margin-bottom: 5px;
    }
    .socialMission{
        height: 450px;
        padding: 10px;
    }
    .socialMission__heading > h1{
        font-size: 1rem;
        padding-bottom: 10px;
    }
    .socialMission > h5{
        font-size: 0.6rem;
        color: black;
        font-weight: 100;
        letter-spacing: 1px;
    }
    .buying__logo{
        height: 100px;
        width: 100px;
        object-fit: contain;    
    }
    .whyTrisquareSell{
        height: 250px;
        background: linear-gradient(rgb(2, 133, 255), rgb(26, 0, 170));
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
    .whyTrisquareSell > h4{
        color: white;
        font-size: 0.5rem;
        font-weight: 200;
    }
    .whyTrisquareSell > h5{
        font-size: 1.2rem;
        
    }
    .sellSection{
        height: 220px;
    }
    .selling__img{
        margin-bottom: -100px;
    }
}

@media only screen and (max-width: 600px){
    .whyTrisquare{
        height: 650px;
        padding: 15px;
    }
    .socialMission{
        height: 535px;
        padding: 10px;
    }
}