<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.95rem;
  font-weight: 550 !important;
  font-family: "Montserrat", sans-serif;
  background: transparent;
  padding-right: 50px;
}
.navbar__hamburger {
  display: block;
  opacity: 0.5;
  right: 0;
  font-size: 1.5rem;
  color: rgb(252, 214, 1);
  text-shadow: 0 5px 10px #000;
  cursor: pointer;
  position: relative;
  bottom: 0;
}
.navbar__components {
  display: flex;
  margin-right: 25px;
  background: transparent;
}
.navbar__component {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;

  color: rgb(2, 100, 2);
  transition: 0.5s;
  width: auto;
  text-align: center;
=======
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.95rem;
    font-weight: 550 !important;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    padding-right: 50px;
}
.navbar__components{
    display: flex;
    margin-right: 25px;
    background: transparent;
}
.navbar__component{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    
    color:  rgb(2, 100, 2);
    transition: 0.5s;
    width: auto;
    text-align: center;
>>>>>>> a85fb8ab7f2ce7c020c083a6bd4c74167c3b4a7d
}
/* .navbar__component:hover{
    text-decoration: none;
    color: rgb(9, 184, 3);
    cursor: pointer;
    box-shadow: 2px 2px 6px 2px gray;
    border-radius: 5px;
} */
/* .sell__link{
    border-radius: 5px;
    color: rgb(2, 100, 2);
    margin-left: 15px;
}
.admin__link {
    border-radius: 5px;
    color: rgb(2, 100, 2);
    margin-left: 15px;
    background: transparent;
}
.login__link{
    border-radius: 5px;
    color: rgb(2, 100, 2);
    margin-left: 15px;
}
.sell__link:hover,
.admin__link:hover, 
.login__link:hover{
    color: rgb(2, 2, 165);
} */
<<<<<<< HEAD
.linksDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s;
  margin: 0 15px;
  /* justify-content: center; */
}
.linksDiv:hover .marker {
  transform: translateX(80%);
  background: rgb(2, 2, 165);
}
.linksDiv:hover .navbar__component {
  color: rgb(2, 2, 165);
}
.marker {
  display: inline-block;
  background: transparent;
  width: 17px;
  height: 2.5px;
  border-radius: 30px;
  transition: all 0.5s;
  outline: none;
  outline-style: none;
  border: 0px;
}
.navbar__componentsCollapsed {
  display: none;
  flex-direction: column;
  background: rgb(21, 102, 21);
  color: white;
  width: 80vw;
  position: absolute;
  top: 15vh;
  left: 5vw;
  right: 5vw;
  padding: 15px;
}
.navbar__hamburger {
  display: none;
  /* position: fixed;
    top:  12%;
    left: 3%; */

  z-index: 10000;
  transition: 3s ease-in-out !important;
}
.hamburger {
  color: rgb(252, 214, 1) !important;
}
/* @media only screen and (max-width: 768px){

} */
@media only screen and (max-width: 768px) {
  .navbar {
    padding-right: 0px;
  }
  .navbar__hamburger {
    display: block;
    opacity: 1;
    right: 25px;
    font-size: 2.5rem !important;
    color: rgb(252, 214, 1);
    text-shadow: 0 5px 10px #000;
    cursor: pointer;
    position: relative;
    bottom: 0;
  }
  .hamburger {
    font-size: 2rem !important;
  }
  .navbar__component {
    padding-top: 2px;
    padding-bottom: 2px;
    letter-spacing: 1px;
    color: rgb(2, 100, 2);
    transition: 0.5s;
    font-size: 0.6rem;
    font-weight: 400;
    width: auto;
    text-align: center;
    padding-left: 10px;
    display: none;
  }
  .linksDiv {
    margin: 0 0px;
    /* justify-content: center; */
  }
  .linksDiv:hover .marker {
    transform: translateX(90%);
    background: rgb(2, 2, 165);
  }
  .linksDiv:hover .navbar__component {
    color: rgb(2, 2, 165);
  }
  .marker {
    display: inline-block;
    background: transparent;
    width: 9px;
    height: 2px;
=======
.linksDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s;
    margin: 0 15px;
    /* justify-content: center; */
}
.linksDiv:hover .marker{
    transform: translateX(80%);
    background: rgb(2, 2, 165);
}
.linksDiv:hover .navbar__component{
    color: rgb(2, 2, 165);
}
.marker{
    display: inline-block;
    background: transparent;
    width: 17px;
    height: 2.5px;
>>>>>>> a85fb8ab7f2ce7c020c083a6bd4c74167c3b4a7d
    border-radius: 30px;
    transition: all 0.5s;
    outline: none;
    outline-style: none;
    border: 0px;
<<<<<<< HEAD
  }
  .navbar__componentsCollapsed {
    display: block;
    height: auto;
    background: linear-gradient(#7fa833, #5d7a25);
    color: white;
    overflow: hidden;
    transition: all linear 1s;
    animation: drop 0.2s linear;
  }
  @keyframes drop {
    0% {
      height: 0px;
    }
    100% {
      height: auto;
    }
  }
  .admin__link1 {
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    width: 100%;
    padding: 8.5px 0px;
  }
  .admin__link1:hover {
    background: white;
    color: black;
  }
  .navbar__hamburger {
    display: block;
    /* position: fixed;
        top:  12%;
        left: 3%; */

    z-index: 10000;
    transition: 3s ease-in-out !important;
  }
  .hamburger {
    color: rgb(252, 214, 1);
    font-size: 1.7rem !important;
    transition: 3s ease-in-out !important;
    padding: 10px;
  }
  .cross {
    color: rgb(252, 214, 1);
    font-size: 1.3rem !important;
    font-weight: 100 !important;
    transition: 3s ease-in-out !important;
    padding: 10px;
  }
}
=======
}
@media only screen and (max-width: 600px){
    .navbar{
        padding-right: 0px;
    }
    .navbar__component{
        padding-top: 2px;
        padding-bottom: 2px;
        letter-spacing: 1px;
        color:  rgb(2, 100, 2);
        transition: 0.5s;
        font-size: 0.6rem;
        font-weight: 400 ;
        width: auto;
        text-align: center;
        padding-left: 10px;
    }
    .linksDiv{
        margin: 0 0px;
        /* justify-content: center; */
    }
    .linksDiv:hover .marker{
        transform: translateX(90%);
        background: rgb(2, 2, 165);
    }
    .linksDiv:hover .navbar__component{
        color: rgb(2, 2, 165);
    }
    .marker{
        display: inline-block;
        background: transparent;
        width: 9px;
        height: 2px;
        border-radius: 30px;
        transition: all 0.5s;
        outline: none;
        outline-style: none;
        border: 0px;
    }
}
>>>>>>> a85fb8ab7f2ce7c020c083a6bd4c74167c3b4a7d
