@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@600&display=swap');

.slider {
    position: relative;
    height: auto;
    width: 100vw;
    height: auto;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -122px !important;
    overflow: hidden;
    font-family: 'Poppins', Arial, Helvetica !important;
  }
  .image {
    width: 100vw;
    height: auto;
    object-fit: cover;
  }
  .right-arrow {
    position: absolute;
    top: 70%;
    right: 32px;
    font-size: 3rem;
    color: rgb(133, 133, 133);
    z-index: 1000;
    cursor: pointer;
    user-select: none;
  }
  .left-arrow {
    position: absolute;
    top: 70%;
    left: 32px;
    font-size: 3rem;
    color: rgb(133, 133, 133);
    z-index: 1000;
    cursor: pointer;
    user-select: none;
  }
  @keyframes animate{
      0%{
          transform: translateX(-100%);
      }
      100%{
          transform: translateX(0);
      }
  }
  .home__main__header{
    z-index: -1;
    font-family: 'Poppins', sans-serif !important;
  }
  .slider__buttonContainer{
    width: 100vw;
    height: auto;
    margin: auto;
  }
  @media only screen and (max-width: 1024px){
    .slider {
      position: relative;
      height: auto;
      width: 100vw;
      height: 53%;
      object-fit: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -122px !important;
      overflow: hidden;
      font-family: 'Poppins', Arial, Helvetica !important;
    }
    .image {
      width: 100vw;
      height: auto;
      object-fit: cover;
    }
   }
 @media only screen and (max-width: 768px){
  .slider {
    position: relative;
    height: auto;
    width: 100vw;
    height: auto;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -122px !important;
    overflow: hidden;
    font-family: 'Poppins', Arial, Helvetica !important;
  }
  .slider {
    height: 40vh !important;
    margin-top: -20px !important;
  }
  .image {
    width: 100vw;
    height: auto;
    object-fit: cover;
  }
 }

 @media only screen and (max-width: 600px){
  .slider {
    position: relative;
    height: auto;
    width: 100vw;
    height: auto;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -122px !important;
    overflow: hidden;
    font-family: 'Poppins', Arial, Helvetica !important;
  }
  .image {
    width: 100vw;
    height: auto;
    object-fit: cover;
  }
 }